{% extends "base1.html.twig" %}
{% block title %} Accueil Comité CIA {% endblock %}



{% block navigation %}

    {{ include ('cyberjuryCia/navigation_comite.html.twig') }}

{% endblock %}

{% block titre3 %} Cyber Jury des Cia <br>
    Choix du centre de concours interacadémique
{% endblock %}
{% block body %}
    <hr>
    <a href="{{ asset('odpf/odpf-documents/CyberjuryCia_Comite.pdf') }}" type="button" class="btn btn-warning" target="_blank">Aide du cyberjury</a>
    <div class="row"><a href="{{ path('cyberjury_create_file_advice',{'concours':'cia'}) }}">
            <button class="btn btn-primary">Obtenir le fichier word des conseils du jury</button>
        </a></div>

    <hr>
    <table>
        {% for centre in centres %}
            <tr>
                <td>
                    <a href="{{ path('secretariatjuryCia_accueil',{'centre': centre}) }}" type="button"
                       class="btn btn-primary">{{ centre.centre }}</a>
                </td>


            </tr>



        {% endfor %}
    </table>
{% endblock %}