{% extends "base1.html.twig" %}
{% block title %} Modifierla recommandation  {% endblock %}

{% block titre3 %}

    Modification de  la recommandation concernant le mémoire de l'équipe<br>
    <a
            href="#"> {{ recommandation.equipe.equipeinter.lettre }} </a>
    : {{ recommandation.equipe.equipeinter.titreProjet }}


{% endblock %}

{% block navigation %}
    {{ include ('secretariatjury/navigation.html.twig') }}
{% endblock %}
{% block body %}
    <a href="{{ path('secretariatjury_liste_recommandations',{'id':recommandation.id}) }}" type="button" class="btn btn-primary"> Annuler</a>
    {{ form(form) }}
    <div>

    {%  if app.session.get('info')!=null %}
        {{ include('modales/modale_info.html.twig') }}
    {% endif %}
   </div>
    {{ app.session.set('info',null) }}

{% endblock %}