{% extends "base1.html.twig" %}
{% block title %} Modifierla recommandation  {% endblock %}

{% block titre3 %}

    Modification de  la recommandation concernant le mémoire de l'équipe<br>
    <a
            href="#"> {{ recommandation.equipe.equipeinter.lettre }} </a>
    : {{ recommandation.equipe.equipeinter.titreProjet }}


{% endblock %}

{% block navigation %}
    {{ include ('secretariatjury/navigation.html.twig') }}
{% endblock %}
{% block body %}
    <a href="{{ path('secretariatjury_liste_recommandations',{'id':recommandation.id}) }}" type="button" class="btn btn-primary"> Annuler</a>
    <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_errors(form) }}
        <div class="form-group">
            {{ form_label(form.texte, "Ecrivez votre conseil à l'équipe, il sera transmis aux professeurs de l'équipe  par les membres du comité après la délibération du concours", {'label_attr': {'class': 'col-sm-10 control-label'}}) }}
            {{ form_errors(form.texte) }}
        </div>
        <div class="form-group">
            {{ form_label(form.texte, "Conseils(max 1500 cars.)", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.texte) }}
            {{ form_widget(form.texte, {'attr': {'class': 'col-sm-10 form-control'}}) }}
        </div>

        <div>
            {{ form_widget(form.Enregistrer, {'attr': {'class': 'btn btn-primary'}}) }}

            <button class="btn btn-primary" onclick="history.back();">Annuler</button>


        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
    <div>

    {%  if app.session.get('info')!=null %}
        {{ include('modales/modale_info.html.twig') }}
    {% endif %}
   </div>
    {{ app.session.set('info',null) }}

{% endblock %}