{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% extends ea.templatePath('layout') %}
{% form_theme edit_form with ea.crud.formThemes only %}

{% trans_default_domain ea.i18n.translationDomain %}

{% block body_id 'ea-edit-' ~ entity.name ~ '-' ~ entity.primaryKeyValue %}
{% block body_class 'ea-edit ea-edit-' ~ entity.name %}

{% set ea_field_assets = ea.crud.fieldAssets(constant('EasyCorp\\Bundle\\EasyAdminBundle\\Config\\Crud::PAGE_EDIT')) %}

{% block head_javascript %}
    {{ parent() }}
    <script src="{{ asset('form.js', ea.assets.defaultAssetPackageName) }}"></script>
{% endblock head_javascript %}

{% block configured_head_contents %}
    {{ parent() }}
    {% for htmlContent in ea_field_assets.headContents %}
        {{ htmlContent|raw }}
    {% endfor %}
{% endblock %}

{% block configured_body_contents %}
    {{ parent() }}
    {% for htmlContent in ea_field_assets.bodyContents %}
        {{ htmlContent|raw }}
    {% endfor %}
{% endblock %}

{% block configured_stylesheets %}
    {{ parent() }}
    {{ include('@EasyAdmin/includes/_css_assets.html.twig', { assets: ea_field_assets.cssAssets }, with_context = false) }}
    {{ include('@EasyAdmin/includes/_encore_link_tags.html.twig', { assets: ea_field_assets.webpackEncoreAssets }, with_context = false) }}
{% endblock %}

{% block configured_javascripts %}
    {{ parent() }}
    {{ include('@EasyAdmin/includes/_js_assets.html.twig', { assets: ea_field_assets.jsAssets }, with_context = false) }}
    {{ include('@EasyAdmin/includes/_encore_script_tags.html.twig', { assets: ea_field_assets.webpackEncoreAssets }, with_context = false) }}
{% endblock %}

{% block content_title %}
    {%- apply spaceless -%}
        {% set custom_page_title = ea.crud.customPageTitle(pageName, entity ? entity.instance : null, ea.i18n.translationParameters) %}
        {{ custom_page_title is null
        ? ea.crud.defaultPageTitle(null, null, ea.i18n.translationParameters)|trans|raw
        : custom_page_title|trans|raw }}
    {%- endapply -%}
{% endblock %}

{% block page_actions %}
    {% for action in entity.actions %}
        {{ include(action.templatePath, { action: action }, with_context = false) }}
    {% endfor %}
{% endblock %}

{% block main %}
    {% block edit_form %}

        {{form_start(edit_form) }}
        {{ form_errors(edit_form) }}
        <div class="row">
            <div class="col-md-6 col-sm-12">

                {{ form_row(edit_form.edition) }}
                {{ form_row(edit_form.annee) }}
                {{ form_row(edit_form.pseudo) }}
                {{ form_row(edit_form.lieu) }}
                {{ form_row(edit_form.ville) }}
                {{ form_row(edit_form.dateCia) }}
                {{ form_row(edit_form.dateCn) }}
                {{ form_row(edit_form.dateinscription) }}
            </div>
            <div class="col-md-6 col-sm-12 " >
                {{ form_row(edit_form.nomParrain) }}
                {{ form_row(edit_form.titreParrain) }}
                {{ form_row(edit_form.lienparrain) }}
                <span style="font-weight: bold">{{ form_label(edit_form.affiche,'Photo du parrain') }}</span><br>
                {% if edit_form.photoParrain.vars['data'] !=null %}
                    {% set path= 'odpf/odpf-archives/'~edit_form.photoParrain.vars['data']|split('parrain')[1]|slice(0,2)~'/parrain/' %}
                    <img src="{{ asset(path~edit_form.photoParrain.vars['data']) }}" style="margin: auto">
                {% endif %}
                <a href="#"  data-bs-toggle="modal"
                   data-bs-target="#modalinfoparrain"  title="infos"><i
                            class="fa fa fa-exclamation-circle " aria-hidden="true"></i></a>{{ form_widget(edit_form.photoParrainFile) }}
                <span style="font-weight: bold">{{ form_label(edit_form.affiche,'Affiche') }}</span><br>
                {% if edit_form.affiche.vars['data'] !=null %}
                    {% set path= 'odpf/odpf-archives/'~edit_form.affiche.vars['data']|split('affiche')[1]|slice(0,2)~'/affiche/' %}
                    <img src="{{ asset(path~edit_form.affiche.vars['data']) }}" style="margin: auto">
                {% endif %}

                {{ form_widget(edit_form.afficheFile) }}

            </div>

        </div>
        {{ form_end(edit_form) }}
    {% endblock edit_form %}

    {% block delete_form %}
        {{ include('@EasyAdmin/crud/includes/_delete_form.html.twig', { entity_id: entity.primaryKeyValue }, with_context = false) }}
    {% endblock delete_form %}
    {{ include('modales/modale_info_parrain.html.twig') }}
{% endblock %}
