{% extends "base1.html.twig" %}
{% block stylesheets %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          id="bootstrap-css">
{% endblock %}

{% block title %} {{ edition.ed }}   Les photos des épreuves interacadémiques {% endblock %}



{% block titre3 %}
    <div class="text-center">{{ edition.ed }}<sup>e</sup> Les photos des épreuves interacadémiques.</div></br>
    {% if centre!='prof' %}
        <div class="text-center" style="color: #1d4ed8">Gestion des photos du centre : {{ centre }}  </div>
    {% endif %}
    {% if centre=='prof' %}
        <div class="text-center" style="color: #1d4ed8">Gestion des photos de mes equipes</div>
    {% endif %}


{% endblock %}
{% block body %}
    {% if is_granted('ROLE_COMITE')  or is_granted('ROLE_ORGACIA') %}
        {% if concours=='cia' %}

            <div class="text-center"><a href="{{ path('core_home') }}">Retour</a></div>
            <a type="button" href="{{ path('telecharger_photos') }}" class="btn btn-primary">Télécharger des photos</a>
        {% endif %}


        {% if concours=='national' %}
            <div class="text-center"><a href="{{ path('core_home') }}">Retour
                    à la liste des équipes</a></div>
        {% endif %}
    {% elseif is_granted('ROLE_PROF') %}
        <div class="text-center"><a href="{{ path('fichiers_choix_equipe',{choix:'liste_prof'}) }}">Retour</a></div>
        <a type="button" href="{{ path('telecharger_photos') }}" class="btn btn-primary">Télécharger les photos</a>
    {% endif %}



    <div class="container-fluid">
        <div class="d-inline-flex flex-wrap">

            {% for photo in liste_photos %}
                <div class="p-2"
                     style="width: 250px; background-color: lightgrey; color: black; margin-left: 10px;margin-bottom: 10px">
                    <form action="{{ path('photos_gestion_photos',{'infos':infos}) }}" method="post"
                          id="{{ photo.id }}">
                        <input type="hidden" name="id" value="{{ photo.id }}">
                        <input type="hidden" name="enregistrer" value="enregistrer">
                        <a href="{{ asset('odpf/odpf-archives/'~photo.editionspassees.edition~'/photoseq/'~photo.photo) }}"
                           target="_blank">
                            <img src="{{ asset('odpf/odpf-archives/'~photo.editionspassees.edition~'/photoseq/thumbs/'~photo.photo) }}"
                                 class="img-thumbnail">
                        </a>
                        <label for="coment">Commentaire</label>
                        <input type="text" name="coment" value="{{ photo.coment }}" class="form-control">
                        <label for="equipe">Equipe</label>
                        <select name="equipe" style="width: 100%" class="form-control">
                            {% for equipe in liste_equipes %}
                                {% set select='' %}
                                {% if equipe==photo.equipe %}
                                    {% set select='selected' %}
                                {% endif %}
                                <option value="{{ equipe.id }}" {{ select }}>{{ equipe.infoequipe }}</option>
                            {% endfor %}
                        </select>
                        <div style="text-align: center"><input type="submit" value="Enregistrer""></div>
                    </form>
                    <form action="{{ path('photos_gestion_photos',{'infos':infos}) }}" method="post" id="{{ photo.id }}"
                          style="margin-top: 10px; text-align: center">
                        <input type="hidden" name="id" value="{{ photo.id }}">
                        <input type="hidden" name="supprimer" value="supprimer">
                        <input type="submit" value="Supprimer" ">
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>

    {% if is_granted('ROLE_COMIE')  or is_granted('ROLE_ORGACIA') %}
        {% if concours=='cia' %}

            <div class="text-center"><a href="{{ path('core_home') }}">Retour</a></div>
        {% endif %}


        {% if concours=='national' %}
            <div class="text-center"><a href="{{ path('core_home') }}">Retour
                    à la liste des équipes</a></div>
        {% endif %}
    {% elseif is_granted('ROLE_PROF') %}
        <div class="text-center"><a href="{{ path('fichiers_choix_equipe',{choix:'liste_prof'}) }}">Retour</a></div>
    {% endif %}
    {% block javascripts %}

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>






    {% endblock %}






{% endblock %}
